<div id="items" class="transitions-enabled">
    <h1>Listing Libraries</h1>
  <div class="box panel panel-default">
    <% @items.each do |item| %>
            <%= image_tag item.image.url(:thumb) %>
            <div class="panel-body">
                <%= item.description %>
                <%= item.user.email if item.user %>
                <%= link_to 'Show', item %>
              <% if item.user == current_user %>
                <%= link_to 'Edit', edit_item_path(item) %>
                <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
      <% end %>
    </div>
</div>


